extends layout

block content
  h1= title
  p Welcome to #{title}. Learning pug .
  - var results = [{color:"Black", cost: 700, model:"11"},{color:"Blue", cost: 800, model:"12"},{color:"Red", cost: 900, model:"13"}]
   div(class="container-fluid")
    div(class="row" )
     each res,index in results
      div(class="col-sm-4" onclick=`buy(${index})`) color : #{res.color} , cost : #{res.cost} , model : #{res.model}
  script.
   let itemNumber=0                
        function buy(itemNumber)
        {
            //for index in results
             alert(`you purchased Item ${itemNumber+1}`)
        }